*{margin: 0; padding: 0;}

body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}

.titulo{
    color: aqua; 
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    align-items: center;
}

.menu{
list-style:none;
border:1px solid #c0c0c0;
float:left;
}

.menu li{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
    }

.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
background:#333;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
    }

    .menu li:hover ul, .menu li.over ul{display:block;}
    .menu li ul li{
        border:1px solid #c0c0c0;
        display:block;
        width:150px;
        }

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
.pr1 {
    color: brown;
}
.pr2 {
    color: blue;
}